<div class="login-container" >
    <div class="content" >
       <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2>Login</h2>
        <div>
            <div class="flex-column" >
                <label for="user_id">User ID</label>
                <input  formControlName="user_id" type="text">
                <div *ngIf="submitted && loginControl.user_id.errors" class="warning">
                    <div *ngIf=" loginControl.user_id.errors.required">User ID Required</div>
                </div>
            </div>
            <div class="flex-column" >
                <label for="password">Password</label>
                <input    formControlName="password"  type="password">
                <div *ngIf="submitted && loginControl.password.errors" class="warning">
                    <div *ngIf="loginControl.password.errors.required">Password Required</div>
                </div>
            </div>
            <div class="flex-column" >
                <label for="role">Role</label>
                <select   formControlName="role"  >
                    <option value="admin">Admin</option>
                    <option value="employee">Employee</option>
                </select>
            </div>
        </div>
        <div class="flex-column" >
            <button class="login-btn"  type="submit" >Login</button>
        </div>
    </form>
    <div class="register" routerLink="../register" >Register</div>
    </div>
</div>
