<div class="login-container" >
    <div class="content" >
       <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h2>Register</h2>
        <div>
            <div class="flex-column" >
                <label for="user_id">User ID</label>
                <input formControlName="user_id" type="text">
                <div *ngIf="submitted && registerControl.user_id.errors" class="warning">
                    <div *ngIf=" registerControl.user_id.errors.required">User ID Required</div>
                </div>
            </div>
            <div class="flex-column" >
                <label for="password">Password</label>
                <input  formControlName="password"  type="password">
                <div *ngIf="submitted && registerControl.password.errors" class="warning">
                    <div *ngIf="registerControl.password.errors.required">Password Required</div>
                </div>
            </div>
            <div class="flex-column" >
                <label for="role">Role</label>
                <select formControlName="role" >
                    <option value="admin">Admin</option>
                    <option value="employee">Employee</option>
                </select>
            </div>
        </div>
        <div class="flex-column" >
            <button class="login-btn"  type="submit" >Register</button>
        </div>
    </form>
    <div class="register" routerLink="../login" >Login</div>
    </div>
</div>
